.container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: start;

  width: 420px;
}

.label {
  &.disabled {
    color: var(--color-dark-300, #4c4c4c);
  }
}

.search {
  margin-right: 0.75rem;
  opacity: 0.4;
  fill: var(--color-light-100);
}

.close {
  cursor: text;
  opacity: 0;
}

.wrapper {
  cursor: initial;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.37rem 0.75rem;

  color: var(--color-dark-100);

  border: 1px solid var(--color-dark-300, #4c4c4c);
  border-radius: 2px;

  &:not(.disabled) {
    &:focus-within,
    &:active {
      color: var(--color-light-100);
      border-color: var(--color-light-100);

      & .search {
        opacity: 1;
      }

      & .close {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  &:hover:not(.disabled) {
    background: var(--color-dark-700);
  }

  &.error {
    border-color: var(--color-danger-300);
  }
}

.input {
  all: unset;
  width: 100%;

  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }

  &.error {
    color: var(--color-danger-300);
  }
}

.error {
  color: var(--color-danger-300);
}

.disabled {
  opacity: 0.6;
}
