.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  gap: 1080px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  padding: 0.375rem 1.75rem;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .logo {
    position: relative;
    width: 157px;
    height: 36px;
  }

  .userContainer {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .userName {
      border-bottom: 1px dashed white;
    }

    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 36px;
    }
  }
}

.button {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;

  background: none;
  border: none;
}

.button:focus {
  outline: none;
}

.containerParagraph {
  cursor: default;
  display: flex;
  flex-direction: column;

  & img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
  }
}
