.signInContainer {
  display: flex;
  gap: 18px;
  align-content: center;
  align-items: center;
  justify-content: center;

  height: 530px;
  padding: 100px 35px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  .inputsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 100%;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%
    }
  }

  .inputCheckboxContainer {
    position: relative;
    justify-content: start;
    width: 100%;
    height: 20px;

    .checkbox {
      cursor: pointer;
      position: absolute;
      left: -8px;

    }
  }

  .signInButton {
    width: 100%;
  }

  .forgotPassword {
    cursor: pointer;
    margin-bottom: 70px;
    margin-left: 210px;

    a {
      text-decoration: none;
    }
  }

  .dontHaveAccount {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
  }

  .signUp {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
  }


}




