.profileContainer {
  display: block;
  margin-top: 100px;
  padding: 33px 33px 41px;
}

.photoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;

  > div {
    position: relative;
  }

  img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.title {
  margin-bottom: 27px;
  text-align: center;
}
