.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  width: 420px;
  margin: 100px auto 0;

  background: var(--color-dark-700);
  border: 1px solid #313131;
  border-radius: 2px;
}
