@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));
}

.link1 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));

  cursor: pointer;
  text-decoration-line: underline;

  &:visited {
    color: var(--color-accent-500);
  }
}

.link2 {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));

  cursor: pointer;
  text-decoration-line: underline;

  &:visited {
    color: var(--color-accent-500);
  }
}

.primary {
  color: var(--color-light-100, #fff);
}

.secondary {
  color: var(--color-accent-500, #8c61ff);
}

.link {
  color: var(--color-primary-500, #397df6);
}

.inherit {
  color: var(--color-dark-100);
}

.error {
  color: var(--color-danger-300);
}


