.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.inputFile {
  cursor: pointer;
  display: none;
  width: 10px;
  height: 10px;
}

.editImgButton {
  margin-top: 5px;
}

.preview {
  position: relative;
  max-width: 170px;
  max-height: 107px;
  margin-top: 5px;
}

.deleteButton {
  cursor: pointer;

  position: absolute;
  top: 7px;
  right: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background: transparent;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: 0.2s background-color;

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-300);
    outline: none;
  }
}
