.card {
  padding: 33px 36px 29px;
  text-align: center;
}

.email {
  margin-top: 27px;
  text-align: left;
}

.pass {
  margin-top: 5px;
  text-align: left;
}

.button {
  margin-top: 41px;
}

.message {
  margin-top: 20px;
}

.link {
  margin-top: 11px;
  font-weight: var(--font-weight-bold);
}
