.card {
  height: 528px;
  padding: 33px 36px 29px;
  text-align: center;
}

.email {
  width: 348px;
  height: 60px;
  margin-top: 27px;
  margin-bottom: 20px;

  text-align: left;
}

.password {
  text-align: left;
}

.button {
  margin-top: 41px;
}

.message {
  margin-top: 20px;
}

.link {
  margin-top: 11px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}



