.decksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  .pagHeader {
    display: flex;
    justify-content: space-between;

    width: 1335px;
    margin: 0 auto;
    padding-bottom: 20px;

    @media (width <= 1280px) {
      width: 800px;
    }
  }


  .instrumentContainer {
    display: flex;
    gap: 67px;
    justify-content: space-between;

    width: 1335px;
    margin: 0 auto;

    .searchInput {
      width: 400px;
      margin-top: 29px;
    }

    .tabSwitchCard {
      height: 65px;
    }

    .sliderForCard {
      width: 350px;
    }

    .deleteButton {
      margin-top: 29px;
    }

  }

  .paginationContainer {
    display: flex;
    gap: 20px;
    width: 1340px;
    margin: 15px 0 0 240px;

    .selectForCard {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 500px;
    }
  }

}

.buttonContainer {
  display: flex;
  justify-content: end;

  & button {
    padding: 10px;

    &:focus {
      outline: none;
    }
  }

  & button:active {
    background-color: var(--color-dark-500);
  }
}

.packNameContainer {
  display: flex;
  gap: 10px;
  align-items: center;

  a{
    color: var(--color-light-100);
  }
}

.coverImage {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
}









