.forgotPasswordContainer {
  display: flex;
  gap: 18px;
  align-content: center;
  align-items: center;
  justify-content: center;

  height: 456px;
  padding: 100px 35px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  .inputsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 100%;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
      margin-top: 20px;
    }
  }


  .sendInstructionsButton {
    width: 100%;
  }

  .inputDescription {
    margin-bottom: 50px;

    .instructionsText  {
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
    }
  }


  .rememberPassword {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-900);
  }

  .tryLogging {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
  }


}




